/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Additional Basic Styles */
body, html {
    height: 100%;
    width: 100%;
}

.image-section {
    position: relative;
    overflow: hidden;
    background-size: cover; /* Make sure the background images cover the area */
    background-position: center; /* Center the background images */
    height: calc(100vh / 3); /* Adjust the height as needed */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: transparent;
}

.image-section:hover .overlay-text {
    opacity: 1;
}